[Unit]
Description=fastcfs auth service
After=network-online.target

[Service]
Type=forking
PIDFile=/opt/fastcfs/auth/authd.pid
ExecStart=/usr/bin/fcfs_authd /etc/fastcfs/auth/server.conf start
ExecStop=/usr/bin/fcfs_authd /etc/fastcfs/auth/server.conf stop

# start/stop timeout
TimeoutSec=0

# Disable OOM kill by Linux kernel
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
