Source: fastcfs
Section: admin
Priority: optional
Maintainer: YuQing <384681@qq.com>
Build-Depends: debhelper (>=11~)
               fastDIR-devel (>= 2.3.0) <pkg.fastcfs.core>,
               faststore-devel (>= 2.3.0) <pkg.fastcfs.core>,
               fuse3-devel (>= 3.10.1) <pkg.fastcfs.core>,
               libfastcommon-dev (>= 1.0.53) <pkg.auth.client>,
               libserverframe-dev (>= 1.1.10) <pkg.auth.client>
Standards-Version: 4.1.4
Homepage: http://github.com/happyfish100/FastCFS/


Package: fastcfs
Architecture: any
Multi-Arch: foreign
Build-Profiles: <pkg.fastcfs.core>
Depends: fastcfs-fused (= ${binary:Version}),
         fastcfs-utils (= ${binary:Version}),
         ${misc:Depends}, ${shlibs:Depends}
Description: the auth client library and config files of FastCFS.
 a high performance distributed file system which can be used as the back-end storage of databases and cloud platforms.


Package: fastcfs-fused
Architecture: any
Multi-Arch: foreign
Build-Profiles: <pkg.fastcfs.core>
Depends: fastcfs-api-libs (= ${binary:Version}),
         fuse3 (>= 3.10.1),
         fastcfs-fuse-config (>= 1.0.0),
         ${misc:Depends}, ${shlibs:Depends}
Description: FastCFS fuse

Package: fastcfs-utils
Architecture: any
Multi-Arch: foreign
Build-Profiles: <pkg.fastcfs.core>
Depends: libserverframe (>= 1.1.8),
         ${misc:Depends}, ${shlibs:Depends}
Description: FastCFS utils

Package: fastcfs-api-libs
Architecture: any
Multi-Arch: foreign
Build-Profiles: <pkg.fastcfs.core>
Depends: fastdir-client (>= 2.3.0),
         faststore-client (>= 2.3.0),
         ${misc:Depends}, ${shlibs:Depends}
Description: FastCFS api library

Package: fastcfs-api-libs-dev
Architecture: any
Multi-Arch: foreign
Build-Profiles: <pkg.fastcfs.core>
Depends: fastcfs-api-libs (= ${binary:Version}),
         ${misc:Depends}, ${shlibs:Depends}
Description: header files of FastCFS api library

Package: fastcfs-auth-server
Architecture: any
Multi-Arch: foreign
Build-Profiles: <pkg.fastcfs.core>
Depends: fastdir-client (>= 2.3.0),
         fastcfs-auth-config (>= 2.3.0),
         ${misc:Depends}, ${shlibs:Depends}
Description: FastCFS auth server

Package: fastcfs-fuse-config
Architecture: any
Multi-Arch: foreign
Build-Profiles: <pkg.fastcfs.core>
Depends: faststore-config (>= 1.0.0)
         ${misc:Depends}, ${shlibs:Depends}
Description: FastCFS fuse config files for sample

Package: fastcfs-auth
Architecture: any
Multi-Arch: foreign
Build-Profiles: <pkg.auth.client>
Depends: libfastcommon (>= 1.0.53),
         libserverframe (>= 1.1.10),
         fastcfs-auth-server (= ${binary:Version}),
         fastcfs-auth-client (= ${binary:Version}),
         fastcfs-auth-config (= ${binary:Version}),
         ${misc:Depends}, ${shlibs:Depends}
Description: the auth client library and config files of FastCFS.
 FastCFS is a high performance distributed file system which can be used as the back-end storage of databases and cloud platforms.


Package: fastcfs-auth-dev
Architecture: any
Multi-Arch: foreign
Build-Profiles: <pkg.auth.client>
Depends: fastcfs-auth-client (= ${binary:Version}),
         ${misc:Depends}, ${shlibs:Depends}
Description: header files of FastCFS auth client
 This package provides the header files of libfcfsauthclient

 
Package: fastcfs-auth-client
Architecture: any
Multi-Arch: foreign
Build-Profiles: <pkg.auth.client>
Depends: libfastcommon (>= 1.0.53),
         libserverframe (>= 1.1.10)
         ${misc:Depends}, ${shlibs:Depends}
Description: FastCFS auth client
 FastCFS auth client

Package: fastcfs-auth-config
Architecture: any
Multi-Arch: foreign
Build-Profiles: <pkg.auth.client>
Depends: libfastcommon (>= 1.0.53),
         libserverframe (>= 1.1.10)
         ${misc:Depends}, ${shlibs:Depends}
Description: FastCFS auth config files for sample
 FastCFS auth config files for sample